.app-promotion {
  color: @white-color;

  &__container {
    background-color: @primary-color;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    padding: @spacing-md @spacing-lg;
    border-radius: @border-radius;

    @media (min-width: @breakpoint-sm) {
      flex-direction: row;
    }
  }
}

.app-image {
  flex-shrink: 0;
  margin-top: -4rem;
  margin-bottom: -5.5rem;
  display: grid;
  place-items: center;

  @media (min-width: @breakpoint-sm) {
    flex: 1 0 30%;
  }
}

.app-info {
  padding: 34px 130px 34px 0;

  &__title {
    font-size: 30px;
    font-family: @font-raleway;
    font-weight: 700;
    margin-bottom: 0.1em;

    @media (min-width: @breakpoint-sm) {
      font-size: 50px;
    }
  }

  &__description {
    font-size: 18px;

    @media (min-width: @breakpoint-sm) {
      font-size: 25px;
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    margin-top: 3.5rem;
  }
}
