.hr-resources {
  padding: 90px 0;
  border-bottom: 1px solid #d6dded;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: @breakpoint-md) {
      flex-direction: row;
      gap: 3rem;
    }
    @media (min-width: @breakpoint-lg) {
      gap: 5rem;
    }
    @media (min-width: @breakpoint-xl) {
      gap: 7.5rem;
    }
  }
}

.hr-resources-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: @spacing-md;
}

.resource-card {
  .solid-effect();
  padding: 24px 40px;

  &__title {
    color: @primary-color;
    font-family: @font-raleway;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
  }

  &__description {
    color: @secondary-color;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
  }
}

.circle-decoration {
  @media (min-width: @breakpoint-md) {
    flex: 1 0 37%;
    position: relative;
    width: 450px;
    height: 475px;
    background: url("../images/circle-decoration.png") no-repeat center left;
    background-size: contain;
  }

  h2 {
    text-align: center;
    color: @primary-color;
    font-weight: 500;
    font-size: 22px;

    @media (min-width: @breakpoint-sm) {
      font-size: 24px;
    }

    @media (min-width: @breakpoint-md) {
      font-size: 26px;
      text-align: left;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      width: 250px;
      margin-bottom: 0;
    }

    @media (min-width: @breakpoint-lg) {
      font-size: 30px;
      width: 315px;
    }

    @media (min-width: @breakpoint-xl) {
      font-size: 45px;
    }
  }
}
