/* Button styles */

.btn-primary {
  font-weight: bold;
  box-shadow: $shadow-sm;
}

.btn-secondary {
  @include button(transparent, $primary-color, rgba($primary-color, 0.1));
  border: 1px solid $primary-color;
}

.btn-large {
  padding: $spacing-md $spacing-xl;
  font-size: $font-size-lg;
}
