/* Button styles */

.btn-primary {
  .button(@primary-color, @white-color, @pink-color);

  &--large {
    padding: @spacing-md @spacing-lg;
    width: 210px;
  }
}

.btn-secondary {
  .button(transparent, @text-color, fade(@primary-color, 10%));
  font-weight: 400;
}

.btn-pink {
  .button(@pink-color, @white-color, @primary-color);
  padding: 18px 20px;
  border-radius: 25px;
}
